<div class="row">
  <div class="col-7">
    <div class="card">
      <div class="card-header">
        Redux State
      </div>
      <div class="card-block">
        <blockquote class="card-blockquote">
          <pre>{{ state | async | json }}</pre>
        </blockquote>
      </div>
    </div>
  </div>
  <div class="col">
    <form (submit)="add(todo.value)">
      <ul class="list-group">
        <li class="list-group-item">
          <input #todo type="text" class="form-control"  placeholder="Enter a todo and press enter">
        </li>
        <li class="list-group-item justify-content-between" *ngFor="let todo of ('items' | reduxSelect | async)">
          <span>{{todo.label}}</span>
          <button type="button" class="close" (click)="remove(todo)">
            <span aria-hidden="true">&times;</span>
          </button>
        </li>
      </ul>
    </form>
  </div>
</div>
